* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #73797D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3E464C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009688;
}

body {
  font-family: 'quicksand';
  font-weight: 400;
}

header {
  height: 2.3rem;
  background-color: #3E464C;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-app-region: drag;
}

header .he-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem auto;
      grid-template-columns: 2rem auto;
  margin-left: 1.3rem;
}

header .he-left img {
  height: 1.6rem;
  width: 1.6rem;
  margin-top: 0.3rem;
  margin-left: 0.4rem;
}

header .he-left p {
  margin-left: 0.4rem;
  padding-top: 0.4rem;
  color: white;
  font-weight: 400;
  font-size: 1.2em;
}

header .he-middle .tabs {
  height: 6vh;
  padding-top: 0.2rem;
  text-align: center;
}

header .he-middle .tabs li {
  -webkit-app-region: no-drag;
  list-style-type: none;
  display: inline-block;
  padding: 0.3rem 1rem;
  color: white;
  cursor: pointer;
  border-radius: 0.15rem;
}

header .he-middle .tabs li:hover {
  background-color: #212121;
}

header .he-middle .tabs .ta-active, header .he-middle .tabs .ta-active:hover {
  background-color: #009688;
}

header .he-right .mmc {
  float: right;
  height: 2.3rem;
}

header .he-right .mmc li {
  -webkit-app-region: no-drag;
  height: 2.3rem;
  width: 2.3rem;
  list-style-type: none;
  float: left;
}

header .he-right .mmc li img {
  height: 0.8rem;
  width: 0.8rem;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}

header .he-right .mmc li:nth-child(1):hover {
  background-color: #4f5961;
}

header .he-right .mmc li:nth-child(3):hover {
  background-color: #f44336;
}

header .he-right .mmc li:nth-child(2) {
  opacity: 0.5;
}

.main-container {
  padding: 1.5rem;
  background-color: #374046;
}

.main-container .ma-toolbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-column: 1/20;
  height: 2.2rem;
  background: #374046;
  border: 1px solid #424c53;
  border-bottom: none;
  position: relative;
}

.main-container .ma-toolbar #btn_grid_view, .main-container .ma-toolbar #btn_col_view {
  height: 2rem;
  width: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px;
  cursor: pointer;
  float: left;
}

.main-container .ma-toolbar p {
  float: left;
  padding: 4px 6px;
  color: #bdbdbd;
}

.main-container .con_grid {
  height: 498px;
  background-color: #374046;
  display: none;
  visibility: hidden;
}

.main-container .con_grid .grid-view {
  height: 374px;
  width: 1076px;
  display: none;
  visibility: hidden;
}

.main-container .con_grid .grid-view .colors-grid {
  height: 80px;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 172.6px;
  float: left;
  cursor: pointer;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.main-container .con_grid .grid-view .colors-grid h4 {
  color: white;
  margin: 1rem;
  font-weight: 400;
}

.main-container .con_grid .grid-view .colors-grid:nth-child(6), .main-container .con_grid .grid-view :nth-child(12), .main-container .con_grid .grid-view :nth-child(18) {
  margin-right: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[19];
      grid-template-columns: repeat(19, 1fr);
  height: 498px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  visibility: visible;
}

.container .co_col {
  cursor: pointer;
  color: #e0e0e0;
  font-size: 0.75em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  position: relative;
}

.container .co_col .col-he-p {
  display: block;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 3rem;
  font-size: 1.3em;
  left: -0.5rem;
  font-weight: 500;
}

.container p {
  margin-left: 3px;
  margin-top: 3px;
}

#grid_color_preview {
  width: 1076px;
  height: 100px;
  display: none;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  visibility: hidden;
  position: relative;
}

#grid_color_preview div {
  position: relative;
  cursor: pointer;
}

.fo-white {
  color: white !important;
}

.fo-black {
  color: black !important;
}

.cp_p:nth-child(1) {
  position: absolute;
  top: 4px;
  left: 4px;
}

.cp_p:nth-child(2) {
  position: absolute;
  bottom: 4px;
  left: 4px;
}

#copied {
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 0.5rem 1rem;
  background-color: #252525;
  color: #bebebe;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 8px 0 #313131;
          box-shadow: 0 0 8px 0 #313131;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.con-colorPicker {
  padding: 1.5rem;
  background-color: #374046;
}

.toolBar ul li {
  list-style-type: none;
}

.toolBar ul li img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.colorPreview {
  height: 400px;
  width: 400px;
  background-color: rebeccapurple;
}
/*# sourceMappingURL=index.css.map */